*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #141414;;
}

/*-------barra de navegação----------*/

#barra-superior{
	position: relative;
	/*border: 3px solid yellow;*/
	width: 100%;
	height: 100px;
	margin: 0px auto;
	border-bottom: 2px solid #2b393d;
	background: #141414;
}

ul{
	float: center;
	width: 600px;
	margin: 0px auto;
	display: table;
	padding: 0px;
	list-style-type: none;
}

ul li{
	float: left;
}

li a{
	margin: 0px 43px;
	font-size: 1.3em;
	padding: 10px 10px;
	text-decoration: none;
	line-height: 100px;
	color: #57FFDC;
}

a:hover{
	color: #1c7a6e;
	border-bottom: 2px solid #1c7a6e;
}
/*--------------configuração do tamanha da tela----------------*/


img{
	width: 100%;
	height: auto;
	border-bottom: 2px solid #2b393d;
}

/*---------------------------Parte 1----------------------------*/

#nome-home1{
	position: absolute;
	padding: 10px;
	width: 45%;
	height: 200px;
	font-family: "hk grotesk bold", Helvetica, sans-serif;
	font-size: 2.5em;
	color: #fff;
	left: 40px;
	top: 30px;
}
h6{
	color: #57FFDC;

}

.img-home1{
	position: relative;
 	 margin-bottom: -3px;

}
/*---------------------------Parte 2-.img-home2-----------------*/

.img-home2{
	position: relative;
 	 margin-bottom: -3.5px;
}

#caixa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 400px;
}

.caixa1, .caixa2, .caixa3{
  width: 300px;
  height: 400px;
  background-color: rgb(15, 64, 57, 0.9);
  border-radius: 20px;
}

.caixa1, .caixa2 {
  /* adicionando margem direita para separar as caixas */
  margin-right: 40px;
}

.caixa2 {
  /* alterando a cor de fundo para diferenciar */
  background-color: rgb(15, 64, 57, 0.9);
}

.caixa3 {
  background-color: rgb(15, 64, 57, 0.9);
}



/*---------------------------Parte 3---------------------------*/




/*--------------------------------Rodapé----------------------------*/


