/*======================================CONFIGURAÇÃO DA ABA HOME*/
h1,
#nome-home {
	font-size: 5em;
	color: white;
	padding: 30px 0px 0px 80px
}

h2,
#dev-home {
	padding: 30px 0px 0px 80px;
	font-size: 2em;
	color: #57FFDC;
}

.home1 {
	background-image: url(imagens/img1.png);
}

.home2 {
	background-image: url(imagens/img2.png);
	padding: 80px;
}

.home3 {
	background-image: url(imagens/img3.png);
}

#introducao-home{
	width: 90%;
	height: 75%;
	border-radius: 20px;
	background-color: rgba(87, 255, 220, 0.8);
	margin: 0 auto;
	border: solid 2px white;
}
#introducao-p{
	font-size: 22px;
	text-align: justify;
	line-height: 180%;
	color: #000;
	font-weight: bold;
	padding: 17px;
}

/*============================FIM*/