/*======================================CONFIGURAÇÃO DA ABA CONTATOS*/

.contato1 {
	background-image: url(imagens/img3.png);
}

.contato2 {
	background-image: url(imagens/img4.png);
}

.contato3 {
	background-image: url(imagens/img7.png);
}

/*============================FIM*/