*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #F5FFFA;
}

#conteiner{
	/*border: 2px solid red;*/
	width: 100%;
	height: 200px;
    margin: 0 auto;
	background: #fff url(imagens/img2.png);
}
#topo{
	/*background: url(imagens/img3.png) no-repeat center;       inserir o logo*/
	padding: 30px;
	height: 100px;
}
/*-------barra de navegação----------*/

#barra-navegacao{
	/*border: 2px solid red;*/
	width: 100%;
	height: 50px;
	margin: 0px auto;
	background: #6495ED;
}

ul{
	margin: 0px auto;
	display: table;
	padding: 0px;
	list-style-type: none;
}

ul li{
	float: left;
}

li a{
	font-size: 1.1em;
	padding: 10px 50px;
	text-decoration: none;
	line-height: 50px;
	color: #fff;
	background: url(imagens/img4.png) no-repeat left;
}
#primeiro a{
	background: none;
}

ul a:hover{
	color: #00008B;
}
/*------------------------------------------------------------*/
/*conteudo*/

img {
   max-width: 100%;
   height: auto;
}

/*------------------------------------------------------------*/
/*Rodapé*/

