/*======================================CONFIGURAÇÃO DA ABA DICAS*/
.dicas1 {
	background-image: url(imagens/img3.png);
}

.dicas2 {
	background-image: url(imagens/img3.png);
}

.dicas3 {
	background-image: url(imagens/img3.png);
}

/*============================FIM*/