*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #141414;;
}

/*-------barra de navegação----------*/

#barra-superior{
	position: relative;
	/*border: 3px solid yellow;*/
	width: 100%;
	height: 100px;
	margin: 0px auto;
	border-bottom: 2px solid #2b393d;
	background: #141414;
}

ul{
	float: center;
	width: 600px;
	margin: 0px auto;
	display: table;
	padding: 0px;
	list-style-type: none;
}

ul li{
	float: left;
}

li a{
	margin: 0px 43px;
	font-size: 1.3em;
	padding: 10px 10px;
	text-decoration: none;
	line-height: 100px;
	color: #57FFDC;
}

#navegacao a:hover{
	color: #1c7a6e;
	border-bottom: 2px solid #1c7a6e;
}
/*--------------configuração do tamanha da tela----------------*/


img{
	width: 100%;
	height: auto;
	border-bottom: 2px solid #2b393d;
}

/*-------------------------Parte 1 Home------------------------*/

#nome-home1{
	position: absolute;
	padding: 10px;
	width: 45%;
	height: 200px;
	font-family: "hk grotesk bold", Helvetica, sans-serif;
	font-size: 2.5em;
	color: #fff;
	left: 40px;
	top: 30px;
}
h6{
	color: #57FFDC;
}

.img-home1{
	position: relative;
 	margin-bottom: -3px;

}

#div-saiba-mais{
	position: absolute;
	width: 200px;
	height: 50px;
	right: 100px;
	top: 70%;
	border-radius: 20px;
	border: 2px solid #1c7a6e;
}

#botao{
	border-radius: 20px;
	width: 200px;
	height: 50px;
	background: #57FFDC;

}

#botao, a{
	color: #141414;
	font-size: 1.2em;
}


#botao:hover{
	background: #1c7a6e;
}

/*------------------Parte 2 Home -.img-home2-----------------*/

.img-home2{
	position: relative;
 	 margin-bottom: -3.5px;
}

#caixa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 400px;
}

.caixa1, .caixa2, .caixa3{
  width: 300px;
  height: 400px;
  background-color: rgb(15, 64, 57, 0.9);
  border-radius: 20px;
}

.caixa1, .caixa2 {
  margin-right: 40px;
}

h2{
	font-family: "hk grotesk Light", Helvetica, sans-serif;
	color: #57FFDC;
	text-align: center;
	margin: 10px;
}



/*---------------------------Parte 3---------------------------*/




/*--------------------------------Rodapé----------------------------*/


